# Python
__pycache__/
*.pyc

# Logs
*.log

# Entornos virtuales
venv/
intervaz-venv/

# Archivos de base de datos locales
instance/
*.db

# Archivos de pruebas o personales
*.txt
*.csv

# Configuración local
config.ini
.env
