<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/global/style.css">
    <title>Historial de compras</title>
</head>
<body>
    <header>
        <h1>Historial de compras</h1>
    </header>
    <main>
        <input type="text" id="buscador" placeholder="Buscar por número de compra o proveedor...">
        <div class="contenedor-compras">
            {% for compra in compras | reverse %}
            <section class="contenedor">
                <table class="info-proveedor">
                    <thead>
                        <tr>
                            <th><strong>Nro. de compra:</strong></th>
                            <th><strong>Proveedor:</strong></th>
                            <th><strong>Fecha:</strong></th>
                            <th><button class="eliminar-compra" title="Eliminar Compra" data-compra-id="{{ compra.numero_compra }}">&#x2716;</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ compra.numero_compra }}</td>
                            <td>{{ compra.proveedor }}</td>
                            <td>{{ compra.fecha }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="info-productos">
                    <thead>
                        <tr class="info-productos-head">
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Costo Unitario</th>
                            <th>Total por Producto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in compra.productos %}
                        <tr class="info-productos-body">
                            <td>{{ producto.producto }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>{{ producto.costo }}</td>
                            <td>{{ producto.cantidad * producto.costo }}</td>
                            <td>
                                <button class="eliminar-producto" title="Eliminar Producto" data-compra-id="{{ compra.numero_compra }}" data-producto-id="{{ producto.producto_id }}">&#x2716;</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="total-compra-row">
                            <td></td>
                            <td></td>
                            <td><strong>Total Compra:</strong></td>
                            <td><strong>{{ compra.total_compra }}</strong></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </section>
            {% endfor %}
        </div>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
    <script src="{{ url_for('static', filename='js/compras/historial_compras.js') }}"></script>
</body>
</html>
