<!-- templates/historial_ventas -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/global/style.css">
    <title>Historial de ventas</title>
</head>
<body>
    <header>
        <h1>Historial de ventas</h1>
    </header>
    <main>
        <input type="text" id="buscador" placeholder="Buscar por número de venta o cliente...">
        <!-- Botón para mostrar facturas vencidas -->
        <button id="mostrar_facturas_vencidas">Mostrar Facturas Vencidas</button>
        <div class="contenedor-ventas">
            {% for venta in ventas | reverse%}
            <section class="contenedor">
                    <table class="info-cliente">
                        <thead>
                            <tr>
                                <th><strong>Nro. de venta:</strong></th>
                                <th><strong>Cliente:</strong></th>
                                <th><strong>Fecha:</strong></th>
                                <th><button class="eliminar-venta" title="Eliminar Venta" data-venta-id="{{ venta.numero_venta }}">&#x2716;</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>{{ venta.numero_venta }}</td>
                            <td class="cliente">{{ venta.cliente }}</td> <!-- Cambié id por class -->
                            <td>{{ venta.fecha }}</td>
                            <td style="text-transform: uppercase;">{{ venta.estado }}</td>
                            <td style="display: none;">{{ venta.fecha_vencimiento }}</td>
                        </tbody>                        
                    </table>
                    <table class="info-productos">
                        <thead>
                            <tr class="info-productos-head">
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total por Producto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in venta.productos %}
                            <tr class="info-productos-body">
                                <td>{{ producto.producto }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>{{ producto.precio }}</td>
                                <td>{{ producto.cantidad * producto.precio }}</td>
                                <td>
                                    <button class="eliminar-producto" title="Eliminar Producto" data-venta-id="{{ venta.numero_venta }}" data-producto-id="{{ producto.id }}">&#x2716;</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="total-venta-row">
                                <td></td>
                                <td></td>
                                <td><strong>Total Venta:</strong></td>
                                <td><strong>{{ venta.monto_pagado }}/{{ venta.total_venta }}</strong></td>
                                <td><button class="crear-nota-entrega" data-venta-id="{{ venta.numero_venta }}">Crear Nota de Entrega</button></td>
                            </tr>
                        </tfoot>
                    </table>
            </section>
            {% endfor %}
        </div>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
    <script src="{{ url_for('static', filename='/js/ventas/historial_ventas.js')}}"></script>
</body>
</html>
