@import url('/static/css/components/tarjetas.css');
@import url('/static/css/components/formularios.css');
@import url('/static/css/components/tablas.css');
@import url('/static/css/layouts/botones.css');
@import url('/static/css/sections/index.css');
@import url('/static/css/sections/ventas/formulario_ventas.css');
@import url('/static/css/sections/ventas/historial_ventas.css');
@import url('/static/css/sections/compras/comprar_stock.css');
@import url('/static/css/sections/compras/historial_compras.css');
@import url('/static/css/sections/inventario/ver_inventario.css');
@import url('/static/css/sections/clientes/historial_abonos.css');
@import url('/static/css/sections/clientes/ver_deudas.css');

/* Reset de estilos para normalizar el diseño */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(51, 51, 51, 0.99)
}

header {
    padding: 0.5rem 10rem;
    margin: 0.5rem 3rem;
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra del contenedor */
}


main {
    flex: 1; /* Permite que main ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    overflow: hidden;
}

footer {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra del contenedor */
}

h1 {
    color: white;
}
span {
    color: white;
}

/* Adaptación para pantalla de 1080 x 2400 píxeles */
@media (max-width: 1080px) and (max-height: 2400px) {
    body {
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente si es necesario */
        padding: 0 10px; /* Ajusta el padding del body si es necesario */
    }
    header {
        padding: 0.5rem 2rem;
        margin: 0.5rem 1rem;
        font-size: 0.9rem;
    }
    main {
        padding: 5px 10px;
    }
    footer {
        padding: 0.5rem;
        margin: 0.5rem;
    }
    section {
        margin: 5px 10px;
    }
}

