/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Centrar todo el contenido horizontalmente */
    color: #333333; /* Color de texto general */
}

h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0; /* Color de los encabezados */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Enlaces generales */
a {
    color: #007BFF; /* Color de los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Botones generales */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Formularios generales */
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Tablas generales */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center; /* Centramos el texto en la tabla */
}

th, td {
    padding: 8px;
    text-align: center; /* Centramos el texto en las celdas */
    border-bottom: 1px solid #dddddd;
}

/* Contenedores generales */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu-izquierdo {
    position: fixed;
    top: 0;
    left: -20%; /* Inicialmente oculto */
    width: 15%; /* Ancho del menú izquierdo */
    height: 100vh; /* Altura completa del viewport */
    background-color: #333333;
    color: #ffffff;
    padding: 10px; /* Ajusta el padding */
    transition: left 0.3s ease; /* Transición suave */
    overflow: hidden; /* Oculta el overflow */
}

.menu-izquierdo .contenido-menu {
    padding: 20px; /* Ajusta el padding */
}

.menu-izquierdo a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.menu-izquierdo a:hover {
    background-color: #555555;
}

.contenido-principal {
    margin-left: 0; /* Espacio a la izquierda del contenido principal */
    width: 100%; /* Ancho del contenido principal */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Añadir transición */
}

.ventas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Botón para mostrar/ocultar menú */
.toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; /* Asegura que esté por encima del contenido */
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.venta-card {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px); /* Ocupa todo el ancho menos el espacio del padding */
    padding: 10px;
    position: relative;
    margin-bottom: 20px; /* Espacio inferior entre cada tarjeta */
}

.venta-header {
    background-color: #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
}

.venta-header > div {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espacio entre elementos dentro del header */
}

.venta-header h3 {
    margin: 0;
    font-size: 24px; /* Tamaño grande para resaltar */
    font-weight: bold; /* Negritas para resaltar */
    color: #333333;
    margin-bottom: 10px; /* Espacio inferior */
}

.venta-body {
    padding: 10px 0;
}

.producto-row {
    border-bottom: 1px solid #cccccc;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-info {
    flex: 1;
    display: flex;
    align-items: center;
}

.producto-info span {
    margin-right: 10px;
}

.eliminar-venta {
    font-size: 14px;
    color: #ff0000;
    cursor: pointer;
    margin-left: 10px;
}
.increment {
    width: 30px;
    text-align: center;
}
/* Estilos para el formulario de registro de venta */
#form_venta {
    margin-top: 20px;
}

#form_venta label {
    margin-top: 10px;
}

#form_venta input[type="submit"] {
    background-color: #28a745; /* Color verde para el botón */
}

#form_venta input[type="submit"]:hover {
    background-color: #218838; /* Cambio de color al pasar el ratón */
}

#form_venta button[type="button"] {
    background-color: #dc3545; /* Color rojo para el botón de vaciar carrito */
}

#form_venta button[type="button"]:hover {
    background-color: #c82333; /* Cambio de color al pasar el ratón */
}

#form_venta table {
    margin-top: 20px;
}
/* Estilos para la tabla de ventas */
#tabla_venta {
    margin-top: 20px;
}

#tabla_venta th {
    color: rgb(0, 0, 0); /* Color de texto para las cabeceras de la tabla */
}

#tabla_venta th, #tabla_venta td {
    padding: 10px;
}

#tabla_venta td {
    border-bottom: 10px solid #dddddd;

}

#tabla_venta .increment {
    width: 30px;
    text-align: center;
}   
#tabla_venta_container {
    margin-top: 20px; /* Espacio superior para separar de otros elementos */
    text-align: center; /* Centrar el contenido */
}

#mensaje_venta_procesada {
    margin-top: 10px; /* Espacio superior */
    padding: 10px; /* Espaciado interno */
    color: rgb(0, 0, 0); /* Color de texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de fuente */
    display: flex; /* Ocultar inicialmente */

}
/* CSS: Estilos específicos para el título en el contenido principal */
.titulo_principal {
    color: #333; /* Cambia el color del texto a un tono oscuro */
}
