<!-- templates/crear_notas_entrega -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}">
</head>
<body>
    <div id="menu" class="menu-izquierdo">
        <h1>Crear notas de entrega</h1>
        <a href="{{ url_for('index') }}">Menu principal</a>
        <a href="{{ url_for('sumar_stock.sumar_stock') }}">Sumar stock</a>
        <a href="{{ url_for('mostrar_inventario.mostrar_inventario') }}">Inventario</a>
        <a href="{{ url_for('historial_ventas.historial_ventas') }}">Historial de ventas</a>
    </div>
    <div class="contenido-principal">
        <h1 class="titulo_principal">Crear notas de entrega</h1>
        <button id="toggle-button">Toggle Menú</button>
        <form id="form_nota_entrega" method="post" action="{{ url_for('crear_notas_entrega.generar_nota_entrega') }}"></form>
            <label for="numero_venta">Número de Venta:</label>
            <input type="text" id="numero_venta" name="numero_venta" required><br><br>
            <button type="submit" id="generar_nota">Generar Nota de Entrega</button>
        </form>

    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <script src="{{ url_for('static', filename='nota_entrega.js') }}"></script>
</body>
</html>