<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}">
    <style>
        
        h1, h2, h3, h4, h5, h6 {
            color: #000000; /* Color de los encabezados */
            margin-bottom: 10px; /* Espacio inferior */
        }
    </style>
</head>
<body>
    <div class="contenido-principal">
    <h1>Bienvenido a la Gestión de Inventario</h1>
    <a href="{{ url_for('ventas.ventas') }}">Ventas</a><br>
    <a href="{{ url_for('compras.compras') }}">Compras</a><br>
    <a href="{{ url_for('clientes.clientes') }}">Clientes</a><br>
    <a href="{{ url_for('inventario.inventario') }}">inventario</a><br>
    </div>
</body>
</html>
