<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/static/css/global/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
</head>
<body>
    <header>
        
        <h1 class="title">Administracion</h1>
    </header>
    <main>
        <div class="tarjetas">
            <a href="{{ url_for('ventas.ventas') }}" class="tarjeta ventas">
                <!-- <img src="/static/icons/ventas.svg" alt="Ventas"> -->
                <h2>Ventas</h2>
            </a>
            <a href="{{ url_for('compras.compras') }}" class="tarjeta compras">
                <!-- <img src="/static/icons/compras.svg" alt="Compras"> -->
                <h2>Compras</h2>
            </a>
            <a href="{{ url_for('clientes.clientes') }}" class="tarjeta clientes">
                <!-- <img src="/static/icons/clientes.svg" alt="Clientes"> -->
                <h2>Clientes</h2>
            </a>
            <a href="{{ url_for('inventario.inventario') }}" class="tarjeta inventario">
                <!-- <img src="/static/icons/inventario.svg" alt="Inventario"> -->
                <h2>Inventario</h2>
            </a>
        </div>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
</body>
</html>
