<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="/static/css/global/style.css">
</head>
<body>
    <header>
        <h1>Inventario</h1>
    </header>
    <main>
        <div class="tarjetas">
            <a href="{{ url_for('inventario.ver_inventario.ver_inventario') }}" class="tarjeta inventario">
                <h2>Ver inventario</h2>
            </a>
            <a href="{{ url_for('inventario.registrar_producto_nuevo.registrar_producto_nuevo') }}" class="tarjeta inventario">
                <h2>Registrar producto nuevo</h2>
            </a>
        </div>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
</body>
</html>
