<!-- Archivo: templates/mostrar_inventario.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/global/style.css">
</head>
<body>
    <header>
        <h1>Inventario</h1>
    </header>
    <main>
        <div>
            <input type="text" id="buscador-inventario" placeholder="Buscar producto..."> 
        </div>
        <section class="table-container">
            <table class="tabla-inventario">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" class="th id header">ID</th>
                        <th onclick="sortTable(1)" class="th producto">Producto</th>
                        <th onclick="sortTable(2)" class="th">Cantidad</th>
                        <th onclick="sortTable(3)" class="th">Precio</th>
                        <th onclick="sortTable(4)" class="th">Costo</th>
                        <th onclick="sortTable(5)" class="th">Tipo de Producto</th>
                        <th onclick="sortTable(6)" class="th">Marca</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventario %}
                    <tr class="table-row-body">
                        <td class="td id body">{{ item['id'] }}</td>
                        <td class="td producto">{{ item['PRODUCTO'] }}</td>
                        <td class="td">{{ item['CANTIDAD'] }}</td>
                        <td class="td">{{ item['PRECIO'] }}</td>
                        <td class="td">{{ item['COSTO'] }}</td>
                        <td class="td">{{ item['TIPO_DE_PRODUCTO'] }}</td>
                        <td class="td">{{ item['MARCA'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </section>
    </main>
    <footer>
        Representaciones EG
    </footer>
    <script src="{{ url_for('static', filename='js/inventario/ver_inventario.js') }}"></script>
</body>