<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/global/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>

    </style>
</head>
<body>
    <header>
        <a href="{{ url_for('inventario.inventario') }}" class="btn-flecha"><i class="fas fa-arrow-left"></i></a>
        <h1>Inventario</h1>
    </header>
    <main>
        <div>
            <input type="text" id="buscador-inventario" placeholder="Buscar producto..."> 
        </div>
        <section class="table-container">
            <table class="tabla-inventario">
                <thead>
                    <tr>
                        <th class="th id header">ID</th>
                        <th class="th producto">Producto</th>
                        <th class="th">Cantidad</th>
                        <th class="th">Precio</th>
                        <th class="th">Costo</th>
                        <th class="th">Tipo de Producto</th>
                        <th class="th">Marca</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventario %}
                    <tr class="table-row-body" data-id="{{ item['id'] }}">
                        <td class="td id body editable">{{ item['id'] }}</td>
                        <td class="td producto editable">{{ item['PRODUCTO'] }}</td>
                        <td class="td cantidad editable">{{ item['CANTIDAD'] }}</td>
                        <td class="td precio editable">{{ item['PRECIO'] }}</td>
                        <td class="td costo editable">{{ item['COSTO'] }}</td>
                        <td class="td tipo_de_producto editable">{{ item['TIPO_DE_PRODUCTO'] }}</td>
                        <td class="td marca editable">{{ item['MARCA'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </section>
    </main>
    <footer>
        Representaciones EG
    </footer>
    <script src="{{ url_for('static', filename='js/inventario/ver_inventario.js') }}"></script>
</body>
</html>
