<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar cliente nuevo</title>
    <link rel="stylesheet" href="/static//css/global/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('clientes.clientes') }}" class="btn-flecha"><i class="fas fa-arrow-left"></i></a>
        <h1 class="titulo_principal">Agregar clientes</h1>
    </header>
    <main>
        <section>
            <form id="cliente-form" autocomplete="off">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br><br>
            
                <label for="razon_social">Razón social:</label>
                <input type="text" id="razon_social" name="razon_social" required><br><br>
            
                <label for="rif_cedula">Rif/Cédula:</label>
                <input type="text" id="rif_cedula" name="rif_cedula" required><br><br>
            
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required><br><br>
            
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required><br><br>
            
                <input type="submit" id="agregar_cliente" value="Agregar Cliente">
            </form>
        </section>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
    <script src="{{ url_for('static', filename='/js/clientes/agregar_cliente_nuevo.js') }}"></script>
</body>