<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/static//css/global/style.css">
</head>
<body>
    <a href="{{ url_for('clientes.agregar_clientes_nuevos.agregar_clientes_nuevos') }}">Agregar cliente nuevo</a><br>
    <a href="{{ url_for('clientes.lista_clientes.lista_clientes')}}">Lista de clientes</a>    
    <a href="{{ url_for('clientes.registrar_abono.template_abonos')}}">Registrar abono</a>
    <a href="{{ url_for('clientes.deudas.ver_deudas')}}">Ver deudas</a>
</body>
</html>