<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/static/css/global/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <h1>Lista de clientes</h1>
    </header>
    <main>
        <div>
            <input type="text" id="buscador-cliente" placeholder="Buscar producto..."> 
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Razón Social</th>
                    <th>RIF</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for item in clientes %}
                <tr class="table-row-body">
                    <td onclick="sortTable(0)" class="td nombre editable">{{ item['nombre_cliente'] }}</td>
                    <td onclick="sortTable(1)" class="td razon_social editable">{{ item['razon_social'] }}</td>
                    <td onclick="sortTable(2)" class="td rif editable">{{ item['rif_cedula'] }}</td>
                    <td onclick="sortTable(3)" class="td direccion editable">{{ item['direccion'] }}</td>
                    <td onclick="sortTable(4)" class="td telefono editable">{{ item['telefono'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
    <script src="{{ url_for('static', filename='js/clientes/lista_clientes.js') }}"></script>
</body>
</html>
