<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div id="menu" class="menu-izquierdo">
        <h1>Clientes</h1>
        <a href="{{ url_for('index') }}">Menu principal</a>
    </div>
    <div class="contenido-principal">
        <button id="toggle-button">Toggle Menú</button>
        <h1 class="titulo_principal">Lista de clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Razon social</th>
                    <th>Rif</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for item in clientes %}
                <tr>
                    <td onclick="sortTable(0)">{{ item['nombre_cliente'] }}</td>
                    <td onclick="sortTable(1)">{{ item['razon_social'] }}</td>
                    <td onclick="sortTable(2)">{{ item['rif_cedula'] }}</td>
                    <td onclick="sortTable(3)">{{ item['direccion'] }}</td>
                    <td onclick="sortTable(4)">{{ item['telefono'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='registro_venta.js') }}"></script>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
</body>
</html>