<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Crédito</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/css/global/style.css">
</head>
<body>
    <header>
        <h1>Gestión de Crédito</h1>
    </header>
    <main class="contenido-principal">
        <!-- Formulario de Abono -->
        <section class="form-container">
            <form id="form_abono">
                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" name="cliente" required>
                
                <label for="monto">Monto del Abono:</label>
                <input type="text" id="monto" name="monto" step="0.01" required>
                
                <label for="fecha">Fecha del Abono:</label>
                <input type="date" id="fecha" name="fecha" required>
                
                <div class="botones-container">
                    <button type="submit">Registrar Abono</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
    <script src="{{ url_for('static', filename='/js/clientes/registrar_abono.js') }}"></script>
</body>
</html>
