<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deudas de Clientes</title>
    <link rel="stylesheet" href="/static/css/global/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <h1 id="click-catcher">Deudas de Clientes</h1>
    </header>
    <main>
        <h1>total deuda:</h1>
        <span id="valor_total_deuda" class="valor_total_deuda">$0.00</span>
        <section class="container">
            <input type="text" id="buscador-deuda" placeholder="Buscar cliente...">
        <section class="table-container">
            <table class="tabla-deudas">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deuda in deudas %}
                        <tr class="table-row-body-deudas" data-nombre="{{ deuda['nombre_cliente']}}">
                            <td class="td cliente">{{ deuda['nombre_cliente'] }}</td>
                            <td class="td monto editable">{{ deuda['monto_total'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        </section>
    </main>
    <footer>
        <span>Representaciones EG</span>
    </footer>
    <script src="{{ url_for('static', filename='/js/clientes/ver_deudas.js') }}"></script>
</body>
</html>
