<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Deudas de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="contenido-principal">
        <!-- Botón para volver a la página anterior -->
        <button onclick="window.history.back()">Volver</button> 
        <h1 class="titulo_principal">Deudas de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for deuda in deudas %}
                    <tr>
                        <td>{{ deuda['cliente_id'] }}</td>
                        <td>{{ deuda['monto_total'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
</body>
</html>
